body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    text-align: justify;
    font-size: 18px;
}
.flexible-container{
    display: flex;
}
section{
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
}
.margin-of-half{
    margin-right: 15%;
}
.half-width-text{
    width:  50%;
}
.half-width-img{
    width: 30%;
}
.half-width-img img{
    width: 95%;
    display: block;
}
.three-block{
    width: 25%;
}
.three-block img{
    width: 50%;
}
.description{
    padding-top: 30px;
}
h1{
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    border-left:  5px lightseagreen solid;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 25px;
}
span{
    color: tomato;
}
.btn{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius:  5px;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.contact-container{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
input{
    border: 1px solid darkolivegreen;
    padding: 10px;
    border-radius: 5px;
}
button{
    border: none;
}
footer{
    background-color: mediumslateblue;
    padding-top: px;
    padding-bottom: 5px;
}
footer h2{
    font-family: 'Dancing Script', cursive;
    font-size: 35px
}
footer p{
    font-size: 14px;
    color: cornsilk;
}
ul{
    list-style-type: none;
    padding-bottom: 20px;
}